.track {
  width: 100%;
  height: auto;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border: none;
  border-radius: 5px;
}

.projectCard {
  background-color: #000;
  width: 40%;
  height: 40vh;
  margin: 1.5vh;
  padding: 0vh;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 20px;
  z-index: 1;
}

.projectCard img {
  width: 100%;
  height: 85%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 0;
}

.projectCard h4 {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.1rem;
  text-decoration: none;
  margin: 1vh auto;
}

.projectCard h4 a {
  color: #f9f9f6;
}

@media (max-width: 1050px) {
  .projectCard h4 {
    /* font-size: 0.8rem; */
  }
}

@media (max-width: 950px) {
  .track {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .projectCard {
    width: 70%;
    height: 45vh;
  }
  .projectCard h4 {
    font-size: 1.2rem;
  }
}

@media (max-width: 700px) {
  .projectCard {
    width: 70%;
    height: 40vh;
  }
}

@media (max-width: 550px) {
  .track {
      width: 100%;
    }
  .projectCard {
    width: 80%;
    /* height: 35vh; */
  }
}
