/* PROJECT CARDS */

.track {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projectCard {
  background-color: var(--accent-dark);
  width: 18rem;
  min-height: 14rem;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.projectCard img {
  width: 100%;
  flex-grow: 1;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.projectCard h4 {
  text-align: center;
  font-size: 1rem;
  color: #f9f9f6;
  margin-top: 1vh;
  text-transform: capitalize;
}

@media (max-width: 770px) {
  .track {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 466px) {
  .projectCard h4 {
    font-size: 0.9rem;
  }
}

@media (max-width: 280px) {
  .projectCard h4 {
    font-size: 0.7rem;
  }
}