.footer {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 3vh 0;
}

@media (max-width: 800px) {
  .footer,
  .footer ul {
    font-size: 1.2rem;
  }
}
