/* ICONS */

.icons {
    background-color: var(--accent-dark);
    color: var(--accent-light);
    width: 100%;
    padding: 2rem 1rem;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
}

.icons h2 {
    font-size: 2.4rem;
}

.icons ul {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons ul li {
    margin: 4vh;
    cursor: pointer;
}

.icons ul li a {
    color: var(--accent-light);
}

@media (max-width: 800px) {

    .icons,
    .icons ul {
        font-size: var(--font-sm);
    }

    .icons h2 {
        font-size: 2.1rem;
    }
}

@media (max-width: 400px) {
    .icons h2 {
        font-size: 1.8rem;
    }

    .icons li i {
        font-size: 1.5rem;
    }
}