@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
  --font-base: 1rem;
  --font-lg: 2rem;
  --font-xl: 2.8rem;
  --font-sm: 0.9rem;
  --main-padding: 3vh;
  --accent-light: #FFFAFA;
  --accent-dark: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--accent-dark);
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  color: var(--accent-dark);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--accent-dark);
}