/* NAVIGATION */

.nav {
  background-color: var(--color-text-dark);
  width: 100%;
  min-height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0 3px 10px var(--color-shadow);
}

.list {
  width: 45%;
  min-height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.list a {
  color: var(--color-background);
  font-size: var(--font-sm);
  text-transform: capitalize;
}

@media (max-width: 750px) {
  .list {
    width: 100%;
  }
}