/* NAVIGATION */

.nav {
  background-color: #651c29;
  width: 100%;
  min-height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.list {
  width: 35%;
  min-height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.list a {
  color: #f9f9f6;
  font-size: 1.5rem;
  text-transform: capitalize;
}

@media (max-width: 750px) {
  .list {
    width: 100%;
  }
}