.nav {
    background-color: #651C29;
    width: 100%;
    min-height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.list {
    width: 50%;
    min-height: 3rem;
    margin: 0 0 0 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.list li {
    list-style: none;
}

.list a {
    text-decoration: none;
    color: #DDCC70;
    text-transform: capitalize;
    font-size: 1.5rem;
    outline: none;
}

@media (max-width: 750px){
    .list {
        width: 100%;
    }
    .list a {
        font-size: 1rem;
    }
}